/* 노멀라이징 */
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 라이브러리 */
.cell {
  float: left;
}
.cellRight {
  float: right;
}
.row::after {
  clear: both;
  content: "";
  display: block;
}
.conLarge {
  width: 1200px;
  margin: 0 auto;
}
.conSmall {
  max-width: 1080px;
  margin: 0 auto;
}
.imgBox {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* travelDestination01 시작 */
.travelDestination01 .dropdown{
  margin-top: 300px;
  text-align: start;
}
.travelDestination01 .content-box{
  width: 100%;
  height: 300px;
  border: 1px solid black;
}
/* travelDestination01 끝 */
.SelectBox{
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}
.TagBox{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.TagBox > li{
  border: 1px solid rgba(13, 27, 80, 1);
  border-radius: 20px;
  padding: 2px 10px;
}


