.OceanGIF {
  width: 100%;
  height: 100vh;
  position: fixed;
  background:
      url("../assets/Ocean.gif") center
      no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}
.MainSrc {
  position: absolute;
  width: 40%;
  height: 70px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background-color: white;
  opacity: 0.7;
  text-align: center;
  line-height: 70px;
  color: #0D1B50;
}
.MainSrc > h2{
  font-size: 22px;
}
.MainSrc svg {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: #0D1B50;
}