.TDcontentBox{
  width: 100%;
  border: 1px solid #babcc7;
  margin-bottom: 50px;
}

.TDcontentBox > .imgBox{
  width: 100%;
  height: 450px;
  background-color: #bdd;
  position: relative;
}

.TDcontentBox > .imgBox > h2{
  background-color: blue;
  border-radius: 20px;
  padding: 3px 12px;
  display: inline-block;
  position: absolute;
  bottom: 3.5%;
  left: 1.5%;
}

.TDcontentBox > .textBox{
  padding: 23px 20px;
  display: flex;
  align-items: center;
}

.TDcontentBox > .textBox > .texts{
  flex-grow: 9;
}

.TDcontentBox > .textBox h2{
  margin-bottom: 15px;
}

.TDcontentBox > .textBox p{
  width: 900px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;

  /* ★★ 3줄 이상은 말줄임 처리 ★★ */
  -webkit-line-clamp: 3;
  
  /* ★★ line-height:20px일때 ★★ */
  height: 65px; /* ★★ line-height * 3 +5px 정도 ★★ */
}

.TDcontentBox > .textBox h1{
  justify-content: flex-end;
  flex-grow: 2;
  font-size: 30px;
  color: red;
}