.TDcontentBox{
  width: 100%;
  height: 300px;
  border: 1px solid #babcc7;
  margin-bottom: 30px ;
  display: flex;
  align-items: center;
}

.TDcontentBox > .imgBox{
  width: 270px;
  height: 270px;
  background-color: #bdd;
  margin-left: 15px;
  margin-right: 15px;
}